<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head %>
<header>
    <% include ./partials/header %>
</header>
<body style="background-color: #f6f7f5">
    <div id="contactContent" style="margin: auto; margin-top: 5%; width: 90%">
        <h1 class="detail text-success" >Contact Info</h1>
        <h2 class="detail text-success">Store hours:</h2>
        <p>Monday: 9am - 5pm</p>
        <p>Tuesday: 9am - 5pm</p>
        <p>Wednesday: 9am - 5pm</p>
        <p>Thurday: 9am - 5pm</p>
        <p>Friday: 9am - 5pm</p>
        <p>Saturday: 10am - 3pm</p>
        <p>Sunday: CLOSED</p>
        <br>
        <h2 class="detail text-success">Call us:</h2>
        <p>01-234-5678</p>
        <br>
        <h2 class="detail text-success">Email:</h2>
        <p>support@greenworld.com</p>
    </div>
    
</body>
    <footer>
        <% include ./partials/footer %>
    </footer>
</html>