<!DOCTYPE HTML>
<html>
<head>
   <link rel="stylesheet" type="text/css" href="/css/main.css">
<title>Green World Login</title>
</head>
<!--navigation bar-->
<ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li style="float:right"><a href="/login">Sign in</a></li>
        <li><a href="/contact">Contact us</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/staff">Staff</a></li>
    </ul>
<body>
    <div style="overflow: hidden; width:100%;">
        <div id="login">
            <!--<h1>Login</h1>-->
            <form id="login-form">
                    <h1 style="text-align: center">Log in!</h1>
                    <label>Username:</label>
                    <input type="text"/><br>
                    <label>Password:</label>
                    <input type="password"/>
                    <button id="post-login" formaction="/">Log in</button>
            </form>
        </div>
        <div id="signup">
                <form id="signup-form" method="POST" action="">
                        <h1 style="text-align: center">Sign up!</h1>
                        <label>Email address:</label>
                        <input type="text"/><br>
                        <label>First name:</label>
                        <input type="text"/><br>
                        <label>Last name:</label>
                        <input type="text"/><br>
                        <label>Contact Number:</label>
                        <input type="text"/><br>
                        <label>Password:</label>
                        <input type="text"/><br>
                        <label>Confirm Password:</label>
                        <input type="text"/><br>


                        <button id="post-signup" formaction="/profile">Sign up</button>
                </form>
            <!--<h1>Or signup.</h1>-->
        </div>
    </div>

</body>
</html>