<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="/css/main.css">
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
            <script src="/js/carousel.js"></script>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Products</title>
    </head>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <% if(user != undefined){ %>
                <li style="float:right"><a href="/logout">Log out</a></li>
                <li><a href="/profile">Profile</a></li>
                <% if(userObject.userType == "Staff") { %>
                    <li><a href="/staff">Staff</a></li>
                <% } %>
              <% } else { %>  
                <li style="float:right"><a href="/login">Sign in</a></li>
              <% } %>
            <li><a href="/contact">Contact us</a></li>
            
            
        </ul>
    </header>
    <body>
        <div id="container">
            <h1>This is all the products!</h1>
            <hr>
        <!--<div>
                <h3>Select Category:</h3>
                <form action="">
                    <input type="checkbox" name="Straw" value="Straw"> Straw<br>
                    <input type="checkbox" name="Recycle Bags" value="Bags"> Bags<br>
                    <input type="checkbox" name="Bottles" value="Bottles" checked> Boottles<br><br>
                </form>
            </div>--> 
            <section class="container">
                <div class="one">
                    <h3>Select a category</h3>
                    <a onclick="">Straws</a>
                    <br>
                    <a onclick="">Bottles</a>
                    <br>
                    <a onclick="">Recycle bag</a>
                </div>
                <div class= "two row" > <!-- onclick="location.href='/products/:id'"-->
                    <% if(products.length>0){ %>
                        <% for (var i=0; i<products.length; i++) { %>
                                <div class="column">
                                        <img src='<%= products[i].image %>' class="cover-img">
                                            <p><%= products[i].name %></p>
                                            <h3>&dollar;<%= products[i].price %></h3>
                                         <a href='/products/<%= products[i].id %>'><button class="btn">View product</button></a>
                                       
                                    </div>
                            <% }%>
                    <% } else { %>
                        no record found
                        <% } %>
                   
                        
                </div>
            </section>
            <footer>
                    <ul>
                        <li><a href=" ">Privacy Policy</a></li>
                        <li><a href=" ">Refund Policy</a></li>
                        <li><a href=" ">Contact Us</a></li>
                    </ul>
            </footer>
        </div>
    </body>
</html>