ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(165, 160, 160);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #afd275;
}

#login-form input{
    margin-top: 10px;
    width: 90%;
}
#login-form label{
    margin-left: 150px;
    width: 100%;
}
#login-form button {
    margin-top: 10px;
    width: 91%;
}

#signup-form input{
    margin-top: 10px;
    width: 60%;
}
#signup-form label{
    display: inline-block;
    text-align: right;
    width: 150px;
}
#signup-form button{
    margin-top: 10px;
    margin-left: 154px;
    width: 60.5%;
}

#login{
    float: left;
    width: 45%;
    height: 90vh;
    background-color: #d3efa5;
}
#login-form{
    margin-left: 6.5%;
    position: absolute;
    top: 40%;
}

#signup{
    float: right;
    width: 55%;
    height: 90vh;
    background-color: #f9f9f9;
}
#signup-form{
    margin-left: 6%;
    position: absolute;
    top: 40%;
    width: 50%
}

